* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 12px;
}

/*APP HEADING */
.test-report-header {
  background-color: #282c34;
  width: 100%;
  height: auto;
  font-size: 8px;
  color: white;
  padding: 0.5rem 0rem 0.5rem 1.2rem;
}

/* NAVIGATION BAR WITH FILTER*/
.navigation {
  display: flex;
  padding: 0.4rem 0.4rem 0.4rem 1rem;
  background-color: #dae1e7;
  width: 100%;
}

.test-filter {
  width: 100%;
  display: flex;
  flex-direction: column;
}
fieldset {
  border: transparent;
}
legend {
  font-weight: 700;
  margin-bottom: 0.2rem;
}
.filter-item {
  margin-right: 1rem;
}

input {
  position: relative;
  top: 1px;
  margin-left: 0.1rem;
}

/* MAIN APP CONTAINER WITH 2 SECTIONS */

.split-pane {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.separator {
  border: 0.5px solid rgb(179, 176, 176);
  cursor: col-resize;
  height: 90vh;
}

/* SECTIONS */

.split-pane-left,
.split-pane-right {
  flex: 1;
  overflow: hidden;
  width: 100%;
  padding: 1rem;
  height: 100%;
}
.split-pane-right {
  background-color: #f9f9f9;
  min-height: 90vh;
  word-break: break-all;
}

/* CONTENT SECTION ELEMENTS (LEFT PART) */
.content-header {
  display: grid;
  grid-template-columns: 6fr 60px 50px;
  font-size: 10px;
  text-align: center;
  background-color: lightgray;
}

.content-header > span {
  background-color: white;
  margin: 1px;
  padding: 0.3rem;
}

.node-container {
  display: grid;
  grid-template-columns: 6fr 60px 50px;
  margin-bottom: 2px;
  cursor: pointer;
  border-radius: 5px;
  place-items: center;
}

.node-container:hover {
  background-color: #e1e8ed;
}

.node-title {
  padding: 3px 0px 3px 0px;
  width: 100%;
  word-break: break-all;
}

.node-child {
  margin-left: 15px;
}
.duration {
  font-size: 9px;
  width: 100%;
  padding-left: 5px;
}
.artifacts {
  font-size: 9px;
}

.iconFail {
  color: red;
  margin-left: 3px;
  margin-right: 3px;
}

.iconSuccess {
  color: green;
  margin-left: 3px;
  margin-right: 3px;
}

.iconIgnored {
  color: grey;
  margin-left: 3px;
  margin-right: 3px;
}

.statusFail {
  color: #9a1f40;
  font-weight: 900;
  margin-left: 3px;
}

.statusSuccess {
  color: #3a9679;
  font-weight: 900;
  margin-left: 3px;
}

.statusIgnored {
  color: orange;
  font-weight: 900;
  margin-left: 3px;
}

.statusInconclusive {
  color: purple;
  font-weight: 900;
  margin-left: 3px;
}

.bgFail {
  background-color: #9a1f40;
}

.bgSuccess {
  background-color: #3a9679;
}

/* DISPLAY SECTION ELEMENTS (RIGHT PART) */

.summary-container {
  line-height: 25px;
  border-radius: 5px;
  background: rgba(163, 177, 198, 0.1);
  box-shadow: 0px 0px 5px grey;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  padding: 5px;
  font-size: 12px;
  margin-bottom: 10px;
}

.display-margin {
  margin: 0px 10px 10px 10px;
}

.blue {
  color: #4e89ae;
  font-weight: 600;
}

.copy-btn-container {
  margin-top: 5px;
  margin-right: 5px;
  display: inline-block;
}

.btn-copy {
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 2px;
}

.btn-copy:hover {
  background: rgba(163, 177, 198, 0.3);
}

.selector {
  cursor: pointer;
  user-select: all;
}
::selection {
  background-color: rgba(163, 177, 198, 0.3);
}

.artifact-div {
  margin-top: 5px;
}
.artifact-div a {
  text-decoration: none;
}

.bottom-space {
  margin-bottom: 3px;
}
.comparison-container {
  margin-top: 0.5rem;
  box-shadow: 0px 0px 8px #ccc;
  padding: 0.5rem;
}
.image img {
  width: 100%;
  height: 400px;
}
.imagePath {
  margin-top: 3px;
  margin-bottom: 5px;
}
.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
}
.btn {
  margin-right: 2rem;
  padding: 0.7rem;
  border: none;
  width: 150px;
  background-color: #e1e8ed;
  box-shadow: 0px 0px 8px #ccc;
  border-radius: 5%;
}
.btn:hover {
  background-color: #ccc;
  cursor: pointer;
}
.btn:focus {
  background-color: #4e89ae;
  color: white;
  outline: none;
}
